@import "__base.css";

.desktop {
    display: none;
}

.main {
    background: #00738b;
}

h1 {
    font-size: 130px;
    margin-top: 40px;
}

h2 {
    margin-top: 20px;
    font-size: 30px;
}

button {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 200px;
    height: 60px;
    font-size: 20px;
}
