#login-div {
  top: 50%;
  left: 50%;
  width: 25em;
  /* height: 15em; */
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 2px solid #7289da;
  position: fixed;
  padding: 20px;
  border-radius: 15px;
}
